appnope
awscli
backcall
boto3
botocore
cachetools
certifi
chardet
colorama
decorator
docutils
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
greenlet
httplib2
idna
ipdb
ipython
ipython-genutils
isort
jedi
jmespath
mock
msgpack
neovim
oauth2client
oauthlib
parso
pbr
pexpect
pickleshare
prompt-toolkit
ptyprocess
pyasn1
pyasn1-modules
pyflakes
Pygments
pynvim
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
s3transfer
six
traitlets
uritemplate
urllib3
wcwidth
